<form class="new_action" action="/" method="post">
  Invite all your friends to:
  <br>
  <input type="text" name="event[title]" placeholder="Event Title">
  <br/>
  <input type="text" name="event[organizer_name]" placeholder="Your Name">
  <input type="text" name="event[organizer_email]" placeholder="Your Email">
  Date: <input type="text" name="event[date]" placeholder="Date" id="datepicker">
  <input type="submit" value="Create Event!">
</form>