<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <title>Sexy Event Handler</title>
</head>
<body>

  <% if @event && !@event.errors.empty? %>
    <% @event.errors.each do |field, message| %>
      <span class="error"><%=field%> <%=message%></span>
    <% end %>
  <% end %>

  <br/>
  <nav>
    <ul>
      <li><a href="/" method="POST" class="create">Create Event</a></li>
    </ul>
    <%= erb :_event_form %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
