<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <title>Sexy Event Handler</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/" method="POST" class="create">Create Event</a></li>
    </ul>
    <% if @errors %>
      <span class="errors">The following errors occured while submitting that form</span>
    <% end %>
    <form class="new_action" action="/" method="post">
      Invite all your friends to:
      <br>
      <input type="text" name="event[title]" placeholder="Event Title">
      <br/>
      <input type="text" name="event[organizer_name]" placeholder="Your Name">
      <input type="text" name="event[organizer_email]" placeholder="Your Email">
      Date: <input type="text" name="event[date]" placeholder="Date" id="datepicker">
      <input type="submit" value="Create Event!">
    </form>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
